$blue: #05297F;
$yellow: #FFBD69;
$footerbg: #EEF2F5;
$text: #252525;
$pinkdark: #D63447;
$gray: #b1b1b1;
$pink: #FC9D9D;

.bubble {
    &.pastel-pink {
        background: rgba(252, 157, 157, 0.3);
    }
    &.pastel-blue {
        background: #EEF2F5;
    }
    .pink {
        background: #FC9D9D;
    }
}
.circle {
    &.pastel-pink {
        border: 150px solid rgba(255, 174, 162, 0.7);
    }
    &.pastel-blue {
        border: 100px solid #EEF2F5;
    }
}

.bubble, .circle {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    aspect-ratio: 1 / 1;
}