@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-focus:before {
  content: "\e905";
}
.icon-bag:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e908";
}
.icon-libra:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-star-o:before {
  content: "\e90b";
}
.icon-star:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-angle-down:before {
  content: "\e90e";
}
