<footer class="footer">
    <div class="container">
        <ul class="footer_nav d-flex justify-content-center">
            <li class="footer_nav-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="footer_nav-item">
                <a href="javascript:void(0)">Shop</a>
            </li>
            <li class="footer_nav-item">
                <a href="javascript:void(0)">Blog</a>
            </li>
            <li class="footer_nav-item">
                <a href="javascript:void(0)">About</a>
            </li>
            <li class="footer_nav-item">
                <a href="javascript:void(0)">Contacts</a>
            </li>
        </ul>
        <div class="row justify-content-lg-between align-items-lg-start">
            <div class="footer_contacts col-lg-auto">
                <div class="wrapper d-flex align-items-center justify-content-center">
                    <img class="lazy icon" data-src="./img/icons/phone.svg" src="./img/icons/phone.svg" alt="icon">
                    <div>
                        <span class="call">Call us free</span>
                        <a class="tel" href="tel:+18006565222">+1 800 6565 222</a>
                    </div>
                </div>
                <span class="footer_contacts-hours">Mon-Sun: 9:00am - 9:00pm</span>
                <ul class="footer_contacts-socials d-flex align-items-center justify-content-center justify-content-lg-start">
                    <li class="footer_contacts-socials_item">
                        <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer">
                            <i class="icon-instagram"></i>
                        </a>
                    </li>
                    <li class="footer_contacts-socials_item">
                        <a href="https://twitter.com/" target="_blank" rel="noopener norenoreferrer">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li class="footer_contacts-socials_item">
                        <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_info footer-links-group col-sm-6 col-md-4 col-lg-auto">
                <h3 class="footer_info-title footer-title">Get In Touch</h3>
                <ul class="footer_info-list">
                    <li class="footer_info-list_item footer-link">
                        <a href="javascript:void(0)">Delivery Information</a>
                    </li>
                    <li class="footer_info-list_item footer-link">
                        <a href="javascript:void(0)">Discount</a>
                    </li>
                    <li class="footer_info-list_item footer-link">
                        <a href="javascript:void(0)">100% Purchase Protection</a>
                    </li>
                    <li class="footer_info-list_item footer-link">
                        <a href="javascript:void(0)">Returns Centre</a>
                    </li>
                    <li class="footer_info-list_item footer-link">
                        <a href="javascript:void(0)">Your Account</a>
                    </li>
                </ul>
            </div>
            <div class="footer_categories footer-links-group col-sm-6 col-md-4 col-lg-auto">
                <h3 class="footer_categories-title footer-title">Categories</h3>
                <ul class="footer_categories-list">
                    <li class="footer_categories-list_item footer-link">
                        <a href="javascript:void(0)">Woman</a>
                    </li>
                    <li class="footer_categories-list_item footer-link">
                        <a href="javascript:void(0)">Men</a>
                    </li>
                    <li class="footer_categories-list_item footer-link">
                        <a href="javascript:void(0)">Accessories</a>
                    </li>
                    <li class="footer_categories-list_item footer-link">
                        <a href="javascript:void(0)">Sports Shoes</a>
                    </li>
                    <li class="footer_categories-list_item footer-link">
                        <a href="javascript:void(0)">Clothes</a>
                    </li>
                </ul>
            </div>
            <div class="footer_payment col-md-4 col-lg-3">
                <h3 class="footer_payment-title footer-title">Payment Method</h3>
                <ul class="footer_payment-list d-flex justify-content-center justify-content-md-start">
                    <li class="footer_payment-list_item">
                        <img class="lazy" data-src="./img/icons/visa.svg" src="./img/icons/visa.svg" alt="Visa">
                    </li>
                    <li class="footer_payment-list_item">
                        <img class="lazy" data-src="./img/icons/paypal.svg" src="./img/icons/paypal.svg" alt="PayPal">
                    </li>
                    <li class="footer_payment-list_item">
                        <img class="lazy" data-src="./img/icons/american-express.svg" src="./img/icons/american-express.svg" alt="American Express">
                    </li>
                    <li class="footer_payment-list_item">
                        <img class="lazy" data-src="./img/icons/maestro.svg" src="./img/icons/maestro.svg" alt="Maestro">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>