.header {
    overflow: hidden;
    padding: 115px 0;
    position: relative;
    .controls-container {
        position: relative;
    }
    .blue-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 633px;
        height: 558px;
        .bubble {
            &.pastel-blue {
                &--big {
                    width: 100px;
                    height: 100px;
                    top: -2%;
                    left: -3%;
                }
                &--sm {
                    width: 50px;
                    height: 50px;
                    top: 11%;
                    left: 15%;
                }
            }
        }
    }
    .pink-wrapper {
        .circle {
            &.pastel-pink {
                height: 150px;
                width: 150px;
                top: -3%;
                border-width: 20px;
                right: -17%;
            }
        }
        .bubble {
            &.pastel-pink {
                background: $pink;
                &--sm {
                    width: 60px;
                    height: 60px;
                    bottom: 49%;
                    right: 34%;
                }
                &--xs {
                    width: 20px;
                    height: 20px;
                    bottom: 49%;
                    right: 22%;
                }
            }
        }
    }
    &_slider {
        &-slide {
            .img-wrapper {
                position: relative;
                margin-bottom: 15px;
                img {
                    height: 100%;
                    display: inline;
                }
                .price-wrapper {
                    position: absolute;
                    text-transform: uppercase;
                    right: 0;
                    bottom: 0;
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: bold;
                    margin: 0 28px 17px 0;
                    .price {
                        color: $blue;
                        font-size: 28px;
                        line-height: 30px;
                    }
                }
            }
            .info-wrapper {
                .title {
                    font-size: 32px;
                    line-height: 32px;
                    color: #303960;
                    .explore {
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
                .description {
                    margin: 20px 0 40px;
                    font-family: "Roboto";
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 21px;
                    color: #666;
                    text-align: justify;
                }
                .btn {
                    background: $blue;
                    max-width: 170px;
                    margin: 0 auto;
                    padding: 15px 38px;
                    font-size: 18px;
                    line-height: 14px;
                    color: #fff;
                    display: block;
                    border-radius: 50px;
                    border: 2px solid transparent;
                    &:hover {
                        background: transparent;
                        color: $blue;
                        border-color: $blue;
                    }
                }
            }
        }
        &-controls {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 5px;
            width: 100%;
            left: 0;
            right: 0;
            padding: 0 15px;
            .slider-control {
                width: 40px;
                height: 40px;
                position: relative;
                span {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: #000;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    &:before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 2px;
                        background: #000;
                        bottom: -8px;
                        left: -1px;
                        transform: rotate(45deg);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 2px;
                        background: #000;
                        top: -8px;
                        left: -1px;
                        transform: rotate(-45deg);
                    }
                }
                &--next {
                    transform: rotate(180deg);
                }
                &--prev[aria-disabled="true"],
                &--next[aria-disabled="true"] {
                    cursor: default;
                    span,
                    span::before,
                    span::after {
                        background: $gray;
                    }
                }
            }
        }
    }
}

@media (min-width: 575.98px) {
    .header {
        .blue-wrapper {
            position: absolute;
            left: 0;
            top: 0;
            width: 633px;
            height: 558px;
            .bubble {
                &.pastel-blue {
                    &--big {
                        width: 250px;
                        height: 250px;
                        top: -5%;
                        left: -8%;
                    }
                    &--sm {
                        width: 116px;
                        height: 116px;
                        top: 26%;
                        left: 34%;
                    }
                }
            }
        }
        .pink-wrapper {
            .circle {
                &.pastel-pink {
                    height: 300px;
                    width: 300px;
                    top: -7%;
                    border-width: 50px;
                }
            }
            .bubble {
                &.pastel-pink {
                    background: $pink;
                    &--sm {
                        width: 114px;
                        height: 114px;
                        bottom: 30%;
                        right: 34%;
                    }
                    &--xs {
                        width: 43px;
                        height: 43px;
                        bottom: 40%;
                        right: 22%;
                    }
                }
            }
        }
    }
}

@media (min-width: 767.98px) {
    .header {
        .blue-wrapper {
            .bubble {
                &.pastel-blue {
                    &--big {
                        width: 300px;
                        height: 300px;
                        top: -10%;
                        left: -8%;
                    }
                    &--sm {
                        top: 30%;
                        left: 40%;
                    }
                }
            }
        }
        .pink-wrapper {
            .circle {
                &.pastel-pink {
                    height: 500px;
                    width: 500px;
                    top: -22%;
                    border-width: 100px;
                }
            }
            .bubble {
                &.pastel-pink {
                    &--sm {
                        bottom: 18%;
                        right: 34%;
                    }
                    &--xs {
                        bottom: 15%;
                        right: 22%;
                    }
                }
            }
        }
        &_slider {
            &-slide {
                .img-wrapper {
                    margin-bottom: 0;
                    .price-wrapper {
                        .price {
                            font-size: 38px;
                            line-height: 40px;
                        }
                    }
                }
                .info-wrapper {
                    margin-bottom: 90px;
                    .title {
                        font-size: 44px;
                        line-height: 44px;
                    }
                    .description {
                        font-size: 16px;
                        line-height: 24px;
                        text-align: left;
                    }
                    .btn {
                        margin: 0;
                    }
                }
            }
            &-controls {
                display: inline-flex;
                bottom: 0;
                width: 170px;
                padding: 0;
            }
        }
    }
}

@media (min-width: 991.98px) {
    .header {
        .blue-wrapper {
            .bubble {
                &.pastel-blue {
                    &--big {
                        width: 550px;
                        height: 550px;
                        top: -20%;
                        left: -20%;
                    }
                    &--sm {
                        top: 53%;
                        left: 64%;
                    }
                }
            }
        }
        .pink-wrapper {
            .circle {
                &.pastel-pink {
                    height: 600px;
                    width: 600px;
                    top: -25%;
                    border-width: 120px;
                }
            }
            .bubble {
                &.pastel-pink {
                    &--sm {
                        bottom: 10%;
                        right: 28%;
                    }
                    &--xs {
                        bottom: 7%;
                    }
                }
            }
        }
        &_slider {
            &-slide {
                .img-wrapper {
                    .price-wrapper {
                        .price {
                            font-size: 46px;
                            line-height: 48px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1399.98px) {
    .header {
        padding: 115px 0 350px;
        .blue-wrapper {
            .bubble {
                &.pastel-blue {
                    &--big {
                        height: 788px;
                        width: 788px;
                        top: -48%;
                        left: -43%;
                    }
                    &--sm {
                        top: 47%;
                        left: 80%;
                    }
                }
            }
        }
        .pink-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            .circle {
                &.pastel-pink {
                    height: 1055px;
                    width: 1055px;
                    top: -18%;
                    right: -18%;
                    border-width: 150px;
                }
            }
            .bubble {
                &.pastel-pink {
                    &--sm {
                        bottom: 25%;
                        right: 34%;
                    }
                    &--xs {
                        bottom: 18%;
                        right: 32%;
                    }
                }
            }
        }
    }
}
